html{
  margin: 0;
  height: 100%;
  background-color: #f1f8e9;
  }
body{
  height: 100%;
  background-color: #f1f8e9;
}

.panelTitle{
  @extend .card-panel;padding: 45px !important;
}


.ilike-blue-container {
    @extend .blue, .lighten-4;
    background: cornsilk;
    height: 100%;
}

.title{
  text-align: center;
  font-size: 28px;
}

.text-center{
  text-align: center;
  display: block;
}
