<div class="ilike-blue-container">
  <div class="row">
    <div class="col s12 ">
      <div class="card-panel teal lighten-2  white-text title">Magazzino</div>
    </div>
  </diV>
  <div class="row">
    <div class="col s12 ">
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="pageVini()">Vini</button>
    </div>
  </div>
  <div class="row">
    <div class="col s12 ">
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="pageBibite()">Bibite</button>
    </div>
  </div>
  <div class="row">
    <div class="col s12 ">
      <button type="button" class="btn btn-default btn-lg btn-block" ng-click="pageAlimentari()">Alimentari</button>
    </div>
  </div>
    <div class="row">
    <div class="col s12 ">
      <button type="button" class="btn btn-default btn-lg btn-block" ng-click="pageIgieneCasa()">Igiene Casa</button>
    </div>
  </div>
 <div class="row">
  <div class="col s12 ">
    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="pageIgienePers()">Igiene Personale</button>
  </div>
</div>
  <div class="row">
  <div class="col s3 offset-s9">
  <a class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-add"></i></a>
</div>
</div>
  </div>
