<div class="ilike-blue-container">
  <div class="row">
    <div class="col s12 ">
      <div ng-show="!preload">
      <div class="card-panel teal panelTitle lighten-2 white-text title">BENVENUTO</div>
    </div>
    <div ng-show="preload">
      <div class="card-panel teal panelTitle lighten-2 white-text title">UN ATTIMO</div>
    </div>
    </div>
  </div>
  <div ng-show="!preload">


      <form name="form">
        <div class="row">
        <div class="input-field col s6">
          <input class="validate" id="user" ng-model="loginModel.email" required type="email">
          <label for="name">User</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input class="validate" id="pwd" ng-model="loginModel.password" required type="password">
          <label for="quantita">Password</label>
        </div>
        <div class="col s6">
          <button class="btn btn-default" ng-click="accedi(loginModel)"
            ng-disabled="!form.$valid" type="submit">ACCEDI</button>
        </div>
      </div>
       </div>
      </form>


  </div>
  <div ng-show="preload">
    <div class="row">
      <div class="col s12 ">
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
    </div>
  </div>
</div>
